@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/Poppins-Regular.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins-Regular";
}
body {
  text-transform: capitalize;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
p {
  margin: 0px;
}
